 <div class="block-panel">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-default" id="signout">SignOut</button>
      <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" id="createRoom" >Create room</button>
          </span>
          <input type="text" value="{{roomNameValue}}" name="newroom" class="form-control">
      </div id='validation'>
      <p class="validation"></p>
    </div>
  </div>
  <h1>Available rooms</h1>
  <div class="list-group">
        {{#each roomsNames}}
         <a href="/lobby/{{id}}" class="list-group-item">{{name}}</a>
        {{/each}}
</div>
   <script src="/js/lobbyAPI.js"></script>
