<a href="/signin" class="btn btn-lg btn-primary btn-block" type="submit">Have an account? Sign in</a>
<h2 class="block-panel-heading">Register new account</h2>
<input type="text" id="email" class="form-control credentials" placeholder="Email address" value="{{emailValue}}" required="" autofocus="">
<input type="password" id="password" class="form-control credentials" placeholder="Password" required="">
<p class="validation"></p>
<button class="btn btn-lg btn-primary btn-block" id="register">Register</button>

<script src="/js/signUpAPI.js"></script>